---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Space Turing">
  <section class="section-home">
    <div class="hero">
      <h2>So You Want To Travel To</h2>
      <h1>SPACE</h1>

      <p class="hero-description">
        Let’s face it; if you want to go to space, you might as well genuinely
        go to outer space and not hover kind of on the edge of it. Well sit
        back, and relax because we’ll give you a truly out of this world
        experience!
      </p>
    </div>

    <div class="explore-btn">
      <button class="btn">Explore</button>
    </div>
  </section>
</Layout>

<style>
  body {
    background: url("/assets/home/background-home-desktop.jpg") no-repeat;
    background-size: cover;
    height: 100dvh;

    padding: 40px 0 0 55px;
  }

  .section-home {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    height: 100%;
  }
</style>
