---
import { ViewTransitions } from "astro:transitions";
import Header from "../components/Header.astro";
interface Props {
  title: string;
  pageId: number;
}

const { title, pageId } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <!-- <ViewTransitions /> -->
  </head>
  <body>
    <Header page={pageId} />
    <main>
      <slot />
    </main>

    <style is:global>
      @import url("https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@100;200;300;400;700&display=swap");
      @import url("https://fonts.googleapis.com/css2?family=Bellefair&display=swap");
      :root {
        --accent: 136, 58, 234;
        --accent-light: 224, 204, 250;
        --accent-dark: 49, 10, 101;
        --font: "Barlow Condensed", sans-serif;
        --font-two: "Bellefair", sans-serif;
        --second-text: #d0d6f9;
      }
      *,
      html {
        font-family: var(--font);
        padding: 0;
        margin: 0;
        box-sizing: border-box;
      }
      code {
        font-family:
          Menlo,
          Monaco,
          Lucida Console,
          Liberation Mono,
          DejaVu Sans Mono,
          Bitstream Vera Sans Mono,
          Courier New,
          monospace;
      }
    </style>
  </body>
</html>
